body{
    width: 100%;    
    overflow-x: hidden;
}

:root {
    --penguin-face: white;
    --penguin-picorna: orange;
    --penguin-skin: gray;
    --primary-color: #2CC2E0;
    --secondary-color: #013974;
    --text-color: #212529;
    --white: #fff;
    --button: #00BAE0;
    --button-hover: #01b3d6;
}

.wrapper{
    height: 100vh;
    width: 100%;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

#home p, #home a{
    color: var(--text-color);
}

.home-bg{
    background-image: url(../images/wave-top2.svg);

}

section h1{
    color: var(--primary-color);
}

section h3{
    color: var(--secondary-color);
}

.language{
    color: var(--text-color);
}

section {
    padding: 90px 0;
    scroll-snap-align: start;
}

.vier{
    color: var(--primary-color);
  
}

.mynav{
    height: 80px;
}

.home-bg .mynav .linkcolor{
    color: var(--text-color);
}

.home-bg .mynav .linkcolor:hover{
    color: var(--primary-color);
}


.bg-welcome {
    border-radius: 45%;
}

.about-info {
    width: 50%;
}

#about p{
    color: var(--text-color);
}

.penguin {
    width: 50px;
    height: 50px;
    margin: auto;
    z-index: 4;
    position: relative;
    transition: transform 1s ease-in-out 0ms;
    opacity: 0;
    transform: translateX(-100%);
    animation: slideInPenguin 2s ease-out forwards;
}

.penguin * {
    position: absolute;
}

.penguin:active {
    transform: scale(1.5);
    cursor: not-allowed;
}

.penguin-head {
    width: 50%;
    height: 45%;
    background: linear-gradient(45deg,
            var(--penguin-skin),
            rgb(239, 240, 228));
    border-radius: 70% 70% 65% 65%;
    top: 10%;
    left: 25%;
    z-index: 1;
}

.face {
    width: 60%;
    height: 70%;
    background-color: var(--penguin-face);
    border-radius: 70% 70% 60% 60%;
    top: 15%;
}

.face.left {
    left: 5%;
}

.face.right {
    right: 5%;
}

.chin {
    width: 90%;
    height: 70%;
    background-color: var(--penguin-face);
    top: 25%;
    left: 5%;
    border-radius: 70% 70% 100% 100%;
}

.eye {
    width: 15%;
    height: 17%;
    background-color: black;
    top: 45%;
    border-radius: 50%;
}

.eye.left {
    left: 25%;
}

.eye.right {
    right: 25%;
}

.eye-lid {
    width: 150%;
    height: 100%;
    background-color: var(--penguin-face);
    top: 25%;
    left: -23%;
    border-radius: 50%;
}

.blush {
    width: 15%;
    height: 10%;
    background-color: pink;
    top: 65%;
    border-radius: 50%;
}

.blush.left {
    left: 15%;
}

.blush.right {
    right: 15%;
}

.beak {
    height: 10%;
    background-color: var(--penguin-picorna);
    border-radius: 50%;
}

.beak.top {
    width: 20%;
    top: 60%;
    left: 40%;
}

.beak.bottom {
    width: 16%;
    top: 65%;
    left: 42%;
}

.shirt {
    font: bold 25px Helvetica, sans-serif;
    top: 165px;
    left: 127.5px;
    z-index: 1;
    color: #6a6969;
}

.shirt div {
    font-weight: initial;
    top: 22.5px;
    left: 12px;
}

.penguin-body {
    width: 53%;
    height: 45%;
    background: linear-gradient(45deg,
            rgb(134, 133, 133) 0%,
            rgb(234, 231, 231) 25%,
            white 67%);
    border-radius: 80% 80% 100% 100%;
    top: 40%;
    left: 23.5%;
}

.penguin-body::before {
    content: "";
    position: absolute;
    width: 50%;
    height: 45%;
    background-color: var(--penguin-skin);
    top: 10%;
    left: 25%;
    border-radius: 0% 0% 100% 100%;
    opacity: 70%;
}

.arm {
    width: 30%;
    height: 60%;
    background: linear-gradient(90deg,
            var(--penguin-skin),
            rgb(209, 210, 199));
    border-radius: 30% 30% 30% 120%;
    z-index: -1;
}

.arm.left {
    top: 35%;
    left: 5%;
    transform-origin: top left;
    transform: rotate(130deg) scaleX(-1);
    animation: 3s linear infinite wave;
}

.arm.right {
    top: 0%;
    right: -5%;
    transform: rotate(-45deg);
}



.foot {
    width: 15%;
    height: 30%;
    background-color: var(--penguin-picorna);
    top: 85%;
    border-radius: 50%;
    z-index: -1;
}

.foot.left {
    left: 25%;
    transform: rotate(80deg);
}

.foot.right {
    right: 25%;
    transform: rotate(-80deg);
}

.card-proj{
    position: relative;
    overflow: hidden;
    width: 30rem;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.5);
    cursor: pointer;
}

.card-proj img{
    display: block;
    transition: transform 0.5s;
}

.overlay{
    height: 0;
    background: linear-gradient(transparent, var(--primary-color) 58%);
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    transition: height 0.5s;
}

.overlay p, .overlay a{
    color: var(--text-color);
}

.overlay a{
    color: var(--white);
    background-color: var(--button);
    box-shadow: 0px 0px 20px 0px rgba(44, 194, 224, 0.5);
}

.overlay a:hover{
    background-color: var(--button-hover);
    color: var(--white);
}

.overlay h5{
    color: var(--secondary-color);
}

.card-proj:hover img{
    transform: scale(1.2);
}


.card-proj:hover .overlay{
    height: 70%;
}

.card-proj a{
    text-decoration: none;
}

.contacts:hover{
    transform: scale(1.7);
}

.mydropdown{
    width: 100px;
}

.curve{
background-image: url(../images/wave.svg);
background-size: cover;

}


@keyframes slideIn {
    to {
      opacity: 1;
        transform: translateX(0);
    }
  }
  

@keyframes slideInPenguin {
    to {
        opacity: 1;
        transform: translateX(0);
    }
  }


@keyframes wave {
    10% {
        transform: rotate(110deg) scaleX(-1);
    }

    20% {
        transform: rotate(130deg) scaleX(-1);
    }

    30% {
        transform: rotate(110deg) scaleX(-1);
    }

    40% {
        transform: rotate(130deg) scaleX(-1);
    }
}

@media (max-width: 576px) {
    .about-info {
        width: 100%;
    }
    .card-proj{
        width: 29rem;
    }
}